<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gram.dim">

    <uses-permission android:name="android.permission.INTERNET"/>
    

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="독립운동 알아보기"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        android:usesCleartextTraffic="true">
        
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCQ6Yy-5CXOcO0gW9lGsCLB8OjOiutdUmM"/>

        <activity android:name=".Ui.InfoOfPlaceActivity"/>

        <activity android:name=".Ui.MainActivity"></activity>

        <activity android:name=".Ui.SelectHistoricalSiteActivity"/>
        <activity android:name=".Ui.OXTestActivity"/>
        <activity android:name=".Ui.DragTestActivity" />
        <activity android:name=".Ui.HistoricalSiteInformActivity"/>
        <activity android:name=".Ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>